$black: #000;
$white: #fff;
$body_color: #888;
$primary_color: #abc2b4;
$secondary_color: #222;

$base_font_family: Poppins, san-serif;
$base_font_size: 14px;
$base_line_height: 22px; // it should be an even number

$body_font_weight: 500;

$heading_font_family: "Playfair Display", serif;
$heading_font_weight: 700;

$link_color: #000;
$link_decoration: false;
$link_decoration_height: 1px;
$link_hover_color: #000;

$transition: .3s linear;

$border_radius: 0;
